// 外包裹层
.wrapper {

    /* logo开始 */
    .logo {
        background: url("../assets/日落.jpg") center center / cover no-repeat rgb(34, 34, 34);
        width: 100%;
        height: 100vh;
        max-height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        z-index: 2;

        // display: flex;
        .menu {
            color: rgba(255, 255, 255, 0.4);
            position: absolute;
            // position: fixed;
            left: 2%;
            top: 4%;

            width: 80px;
            height: 30px;

            border: 3px solid rgba(255, 255, 255, 0.4);
            text-align: center;
            line-height: 30px;
            cursor: pointer;

        }

        .menu:hover {
            color: rgba(255, 255, 255, 0.7);
            border: 3px solid rgba(255, 255, 255, 0.7);
        }

        .logoContent {
            width: 60vw;
            margin: 0 auto;

            .logoDescribe {
                width: 100%;
                // color: white;
                text-align: center;
                display: flex;
                align-items: center;
                flex-direction: column;

                #contentTitle {
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: rgba(255, 255, 255, 0.6);
                    margin-bottom: 20px;
                }

                .contentText {
                    margin: 10px 0;
                    color: rgba(255, 255, 255, 0.4);
                }

                #textAuthor {
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.6);
                }
            }


        }

        .navi_light {
            // float: right;
            width: 80px;
            height: 30px;

            position: absolute;
            right: 2%;
            top: 4%;

            border-radius: 23px;
            background-color: rgb(21, 21, 122);

            .light_box {

                width: 30px;
                height: 30px;

                position: absolute;
                /* 0-66 */
                right: 0%;

                border-radius: 15px;
                cursor: pointer;
                background-color: rgb(224, 179, 53);

                transition-property: all;
                transition-duration: 0.5s;
            }
        }
    }

    /* logo结束 */

    /* 左侧边栏按钮开始 */
    .leftSidebarBtn {
        color: rgba(255, 255, 255, 0.4);
        position: fixed;
        top: 1%;
        background-color: rgba(243, 148, 6, 0.4);
        width: 80px;
        height: 30px;
        border: 3px solid rgba(255, 255, 255, 0.4);

        text-align: center;
        line-height: 30px;
        cursor: pointer;
        display: none;
    }

    .leftSidebarBtn:hover {
        color: rgba(255, 255, 255, 0.7);
        border: 3px solid rgba(255, 255, 255, 0.7);
    }

    /* 左侧边栏按钮结束 */


    /* 左侧边栏开始 */
    .sidebar_open {
        position: fixed;
        top: 100px;
        left: 0px;
    }

    .sidebar_close {
        position: fixed;
        top: 100px;
        left: -200px;
    }

    .sidebar {
        width: 200px;
        overflow: hidden;

        background-color: rgb(250, 247, 75);
        z-index: 10;

        // transition: 0.5 linear all;
        transition-property: all;
        transition-duration: 0.5s;

        #close_btn {
            width: 30px;
            height: 40px;
            font-size: 1.5rem;
            font-weight: bold;

            text-align: center;
            line-height: 40px;
            position: absolute;
            right: 8%;
            top: 1%;

            color: rgba(0, 0, 0, 0.2);

            cursor: pointer
        }

        .sidebatContent {
            width: 80%;
            height: 500px;

            margin: 0 auto;
            margin-top: 60px;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;

            .headIcon {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                background-color: brown;
                // margin-bottom: 10px;
            }

            .sideText {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                font-family: 'Courier New', Courier, monospace;

                span {
                    margin-top: 20px;
                }
            }

        }
    }

    /* 左侧边栏结束 */


    /* 右侧边栏开始 */

    .rightSidebar {

        position: fixed;
        right: 2%;
        bottom: 4%;

        z-index: 1;

        .setIcon {
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 50%;
            margin-bottom: 5px;
            cursor: pointer;

            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 20px;
                width: 20px;
                border-radius: 50%;
            }

            .setIconText {
                
                position: absolute;
                right: 150%;

                width: 100px;
                height: 30px;


                font-size: small;
                color: #fff;
                background-color: #0f0f0f;

                display: flex;
                justify-content: center;
                align-items: center;
                display: none;

                
            }
            .triangle{
                position: absolute;
                right: 108%;

                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid #000;
                display: none;
               
               
            }

            // 爱心摇摆
            @keyframes likeShake {
                0% {
                    transform: rotate(0deg);
                    background-color: #10f58a;
                }

                30% {
                    transform: rotate(-45deg);
                    background-color: rgb(197, 7, 245);
                }

                60% {
                    transform: rotate(45deg);
                    background-color: rgb(7, 241, 19);
                }

                80% {
                    transform: rotate(-25deg);
                    background-color: rgb(238, 215, 11);
                }

                100% {
                    transform: rotate(20deg);
                    background-color: red;

                }
            }

            #homeIconImg:hover {
                animation: likeShake 1s linear;
                
            }
            // #likeIconImg .wrapText:hover{
            //     display: block;
            // }
            #likeIconImg:hover {
                animation: likeShake 1s linear;
            }
            // #homeIcon .triangle:hover, #supportIcon .triangle:hover{
            //     display: "block";
            // }
            .wrapText{
                // display: none;
            }
            
            

            // 图标无限旋转
            #settingIconImg {
                animation: playSetting 1s linear infinite;
            }

            @keyframes playSetting {
                0% {
                    transform: rotate(0deg);
                }

                50% {
                    transform: rotate(180deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }


        }

        #homeIcon {
            display: none;
        }

        #supportIcon {
            display: none;
        }

    }

    /* 右侧边栏结束 */



    .naviMain_close {
        background-color: black;
    }

    /* 导航栏开始 */
    .naviMain {
        height: 100px;
        width: 100%;
        position: relative;
        // border-bottom: 2px solid #cfcdcd;
        // box-shadow: 0px 5px 10px;
        box-shadow: inset 0px 5px 10px;

        // 版心
        .naviContent {
            height: 100%;
            width: 1100px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // margin-left: 12%;

            .navi_title {
                width: 150px;
                height: 60px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 45px;
            }

            .navi_item {

                height: 70%;
                width: 15%;

                display: flex;
                align-items: center;
                justify-content: center;

                font-weight: 500;
                font-size: 25px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }

            .navi_light {
                // float: right;
                width: 80px;
                height: 30px;

                position: absolute;
                right: 1%;
                bottom: 2%;

                border-radius: 23px;
                background-color: rgb(21, 21, 122);

                .light_box {

                    width: 30px;
                    height: 30px;

                    position: absolute;
                    /* 0-66 */
                    right: 0%;

                    border-radius: 15px;
                    cursor: pointer;
                    background-color: rgb(224, 179, 53);

                    transition-property: all;
                    transition-duration: 0.5s;
                }
            }

            #navi_time {
                float: right;
                width: 185px;
                height: 60px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 20px;

                display: flex;
                align-items: center;

                position: absolute;
                right: 1%;
                top: 20px;

                /* background-color: blueviolet; */
            }
        }



    }

    /* 导航栏结束 */


    /*  内容开始 */
    .content_close {
        background-color: rgb(2 52 104);
    }

    .content_open {
        background-color: rgb(246, 246, 246);
    }

    .contentWrap {
        // margin-top: 20px;

        // 版心
        .contentMain {
            width: 900px;
            margin: 0 auto;
            padding-top: 40px;
            padding-bottom: 40px;
            // background-color: blue;

            .content {
                width: 100%;
                // height: 1000px;

                .item_close {
                    background-color: black;
                }

                .item_open {
                    background-color: #fff;

                }

                .item {
                    // width: 86%;
                    // height: 200px;

                    margin-bottom: 30px;

                    display: flex;
                    flex-direction: column;
                    /* justify-content: center; */
                    align-items: center;

                    .item_head {
                        width: 96%;
                        // height: 100px;
                        display: flex;
                        align-items: center;

                        /* border-bottom: 1px solid #cec9c9; */
                        margin-bottom: 30px;
                        padding-top: 30px;

                        position: relative;

                        .item_title {
                            color: rgb(129, 204, 32);
                            font-size: 30px;
                            font-weight: 500;
                            text-decoration: none;
                        }

                        .box_blue {
                            width: 50px;
                            height: 2px;
                            background-color: rgba(0, 138, 255);


                            position: absolute;

                            bottom: -30px;
                            // padding-top: 30px;

                        }
                    }

                    .item_content {
                        width: 96%;
                        height: 150px;
                        // background-color: rgb(246, 246, 246);

                        font-size: large;
                        margin-top: 30px;
                    }
                }

                // .item_one {
                //     position: absolute;
                //     left: 7%;
                //     top: 5%;
                // }

                // .item_two {
                //     position: absolute;
                //     left: 7%;
                //     top: 35%;
                //     /* background-color: black; */
                // }

                // .item_three {
                //     position: absolute;
                //     left: 7%;
                //     top: 65%;
                //     /* background-color: black; */
                // }

            }
        }




    }

    /*  内容结束 */

    /* 页脚开始 */
    .footer {
        width: 100%;
        background-color: black;
        box-shadow: 0px -1px 2px;

        .footerMain {
            width: 1100px;
            margin: 0 auto;
            overflow: hidden;
            color: #fff;

            p {
                padding-top: 20px;
                float: right;
            }

            #a_footer {
                padding-top: 20px;
                display: block;
                float: left;
                font-size: 30px;
            }
        }
    }

    /* 页脚结束 */

    /* 作者信息开始 */
    .author_info {
        width: 100%;
        position: fixed;
        bottom: 0%;
        display: flex;
        justify-content: center;
        align-items: center;

        .info {
            /* position: absolute;
        left: 50%; */
        }
    }

    /* 作者信息结束 */
}