.wrapper {
  /* logo开始 */
  /* logo结束 */
  /* 左侧边栏开始 */
  /* 左侧边栏结束 */
  /* 右侧边栏开始 */
  /* 右侧边栏结束 */
  /* 导航栏开始 */
  /* 导航栏结束 */
  /*  内容开始 */
  /*  内容结束 */
  /* 页脚开始 */
  /* 页脚结束 */
  /* 作者信息开始 */
  /* 作者信息结束 */
}
.wrapper .logo {
  background: url("../assets/日落.jpg") center center / cover no-repeat #222222;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.wrapper .logo .menu {
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 2%;
  top: 4%;
  width: 80px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.wrapper .logo .menu:hover {
  color: rgba(255, 255, 255, 0.7);
  border: 3px solid rgba(255, 255, 255, 0.7);
}
.wrapper .logo .logoContent {
  width: 60vw;
  margin: 0 auto;
}
.wrapper .logo .logoContent .logoDescribe {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper .logo .logoContent .logoDescribe #contentTitle {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
.wrapper .logo .logoContent .logoDescribe .contentText {
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.4);
}
.wrapper .logo .logoContent .logoDescribe #textAuthor {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.wrapper .logo .navi_light {
  width: 80px;
  height: 30px;
  position: absolute;
  right: 2%;
  top: 4%;
  border-radius: 23px;
  background-color: #15157a;
}
.wrapper .logo .navi_light .light_box {
  width: 30px;
  height: 30px;
  position: absolute;
  /* 0-66 */
  right: 0%;
  border-radius: 15px;
  cursor: pointer;
  background-color: #e0b335;
  transition-property: all;
  transition-duration: 0.5s;
}
.wrapper .sidebar_open {
  position: fixed;
  top: 100px;
  left: 0px;
}
.wrapper .sidebar_close {
  position: fixed;
  top: 100px;
  left: -167px;
}
.wrapper .sidebar {
  width: 224px;
  overflow: hidden;
  background-color: #faf74b;
  z-index: 1;
  transition-property: all;
  transition-duration: 0.5s;
}
.wrapper .sidebar .sidebarBtn {
  width: 30px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 8%;
  top: 1%;
  color: rgba(0, 0, 0, 0.2);
  background-color: aqua;
  cursor: pointer;
  background: url("../assets/icon/leftAndright.png") 10px 0px;
  transition-property: all;
  transition-duration: 1s;
}
.wrapper .sidebar .close_btn {
  transform: rotate(-180deg);
}
.wrapper .sidebar .open_btn {
  transform: rotate(0deg);
}
.wrapper .sidebar .sidebatContent {
  width: 80%;
  height: 450px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.wrapper .sidebar .sidebatContent .headIcon img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 8px solid #fff;
}
.wrapper .sidebar .sidebatContent .sideText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: "宋体";
}
.wrapper .sidebar .sidebatContent .sideText span {
  margin-top: 20px;
  cursor: pointer;
}
.wrapper .sidebar .sidebatContent .sideText span:hover {
  color: rgba(0, 0, 0, 0.4);
}
.wrapper .rightSidebar {
  position: fixed;
  right: 2%;
  bottom: 4%;
  z-index: 1;
}
.wrapper .rightSidebar .setIcon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .rightSidebar .setIcon img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.wrapper .rightSidebar .setIcon .setIconText {
  position: absolute;
  right: 150%;
  width: 100px;
  height: 30px;
  font-size: small;
  color: #fff;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.wrapper .rightSidebar .setIcon:nth-child(n):hover .setIconText {
  display: flex;
}
.wrapper .rightSidebar .setIcon:nth-child(n):hover .triangle {
  display: block;
}
.wrapper .rightSidebar .setIcon .triangle {
  position: absolute;
  right: 108%;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #000;
  display: none;
}
@keyframes likeShake {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-45deg);
  }
  60% {
    transform: rotate(45deg);
  }
  80% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
.wrapper .rightSidebar .setIcon #homeIconImg:hover {
  animation: likeShake 1s linear;
}
.wrapper .rightSidebar .setIcon #likeIconImg:hover {
  animation: likeShake 1s linear;
}
.wrapper .rightSidebar .setIcon #supportIconImg:hover {
  animation: likeShake 1s linear;
}
.wrapper .rightSidebar .setIcon #settingIconImg {
  animation: playSetting 1s linear infinite;
}
@keyframes playSetting {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper .rightSidebar .setIcon #topIconImg {
  transition-property: all;
  transition-duration: 2s;
}
.wrapper .rightSidebar .setIcon .imgRotate {
  transform: rotate(180deg);
}
.wrapper .rightSidebar #homeIcon {
  display: none;
}
.wrapper .rightSidebar #supportIcon {
  display: none;
}
.wrapper .naviMain_close {
  background-color: black;
}
.wrapper .naviMain {
  height: 100px;
  width: 100%;
  position: relative;
  box-shadow: inset 0px 5px 10px;
}
.wrapper .naviMain .naviContent {
  height: 100%;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrapper .naviMain .naviContent .navi_title {
  width: 150px;
  height: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
}
.wrapper .naviMain .naviContent .navi_item {
  height: 70%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrapper .naviMain .naviContent .navi_light {
  width: 80px;
  height: 30px;
  position: absolute;
  right: 1%;
  bottom: 2%;
  border-radius: 23px;
  background-color: #15157a;
}
.wrapper .naviMain .naviContent .navi_light .light_box {
  width: 30px;
  height: 30px;
  position: absolute;
  /* 0-66 */
  right: 0%;
  border-radius: 15px;
  cursor: pointer;
  background-color: #e0b335;
  transition-property: all;
  transition-duration: 0.5s;
}
.wrapper .naviMain .naviContent #navi_time {
  float: right;
  width: 185px;
  height: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 1%;
  top: 20px;
  /* background-color: blueviolet; */
}
.wrapper .content_close {
  background-color: #023468;
}
.wrapper .content_open {
  background-color: #f6f6f6;
}
.wrapper .contentWrap .contentMain {
  width: 900px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper .contentWrap .contentMain .content {
  width: 100%;
}
.wrapper .contentWrap .contentMain .content .item_close {
  background-color: black;
}
.wrapper .contentWrap .contentMain .content .item_open {
  background-color: #fff;
}
.wrapper .contentWrap .contentMain .content .item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.wrapper .contentWrap .contentMain .content .item .item_head {
  width: 96%;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #cec9c9; */
  margin-bottom: 30px;
  padding-top: 30px;
  position: relative;
}
.wrapper .contentWrap .contentMain .content .item .item_head .item_title {
  color: #81cc20;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}
.wrapper .contentWrap .contentMain .content .item .item_head .box_blue {
  width: 50px;
  height: 2px;
  background-color: rgba(0, 138, 255);
  position: absolute;
  bottom: -30px;
}
.wrapper .contentWrap .contentMain .content .item .item_content {
  width: 96%;
  height: 150px;
  font-size: 1rem;
  margin-top: 30px;
}
.wrapper .footer {
  width: 100%;
  background-color: #0f1de452;
  box-shadow: 0px -1px 2px;
}
.wrapper .footer .footerMain {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
}
.wrapper .footer .footerMain p {
  padding-top: 20px;
  float: right;
}
.wrapper .footer .footerMain #a_footer {
  padding-top: 20px;
  display: block;
  float: left;
  font-size: 30px;
}
.wrapper .author_info {
  width: 100%;
  position: fixed;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .author_info .info {
  /* position: absolute;
        left: 50%; */
}
