/* 主题颜色 */
.main_back_color_open{
    background-color: #fff;
}
.main_back_color_colse{
    background-color: black;
}

.main_font_color_open{
    color: black;

}
.main_font_color_close{
    color: #fff;

}
/* 系统标签样式清除 */
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
